Assignment I/Calculator.xcodeproj/project.xcworkspace/xcuserdata/piotrplaneta.xcuserdatad/UserInterfaceState.xcuserstate
Assignment II/Calculator.xcodeproj/project.xcworkspace/xcuserdata/piotrplaneta.xcuserdatad/UserInterfaceState.xcuserstate
Assignment III/Calculator.xcodeproj/project.xcworkspace/xcuserdata/piotrplaneta.xcuserdatad/UserInterfaceState.xcuserstate